<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >

    <title></title>
    <!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body style="background-color: #ededed;">
<div style="background-color:#c9615b ; height: 50px;"></div>
<div class="container-fluid" style="margin-top: 30px;">


    <div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
        <center>
        <img src="../css/css/unnamed.jpg" >
        </center>
        <!--/*@thymesVar id="korisnik" type="lombok"*/-->
        <form autocomplete="off" action="#" th:action="
			@{/register}" th:object="${korisnik}" method="post" class="form-signin" role="form">
            <h3 class="form-signin-heading"></h3>
            <div class="form-group">
                <div class="">
                    <input type="text" name="ime" placeholder="Име" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="prezime" placeholder="Презиме" class="form-control"  th:required="true"/>
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="text" name="korisnickoIme" placeholder="Корисничко име" class="form-control" th:required="true" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="password" name="lozinka" placeholder="Лозинка" class="form-control" th:required="true" minlength="6" />
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <button type="submit" class="btn btn-primary btn-block" style="background-color: #c9615b" action="/login">Регистрирај се</button>
                </div>
            </div>
            <p th:if="${invalid}" style="text-align: justify; padding-left: 50px;">Корисничкото име постои !</p>

        </form>
    </div>
</div>
</body>
</html>